body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: Arial, sans-serif;
}

#visualization-container {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
  transition: opacity 0.3s ease;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background: rgba(219, 219, 219, 0.778);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(84, 84, 84);
  border-radius: 4px;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.visualizer-list {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.visualizer-option {
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.visualizer-option.active {
  background: rgba(255, 255, 255, 0.2);
}

.visualizer-option:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Hide controls in fullscreen */
:fullscreen .controls,
:fullscreen .visualizer-list {
  opacity: 0;
}

:fullscreen .controls:hover,
:fullscreen .visualizer-list:hover {
  opacity: 1;
}